# Python
# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
backend/staticfiles/
backend/media/
backend/logs/

# --- Python ---
venv/
.venv/
ENV/
*.py[cod]
*$py.class

# --- Environment Secrets ---
.env
.env.*

# --- OS / System ---
.DS_Store
Thumbs.db
.directory
.Trash-*

# --- IDEs ---
.idea/
.vscode/
*.swp
*.swo
